/* Estilos generales */

body {
  width: 100%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3ebeb; /* Color de fondo pastel */
}

header {
  text-align: center;
  height: 40px;
  background-color: #f3ebeb; /* Fondo blanco para el header */
  padding: 10px;
}

.right {
  float: right;
}

.logo {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-image: url("../imagenes/logo.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  height: 100%;
  margin-top: 10px;
}

nav ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  height: 100%;
  padding-right: 20px;
  display: inline-block;
  margin-right: 20px;
  border-right: solid black 1px;
}

nav a {
  text-decoration: none;
  color: #333;
}

.boton {
  background-color: #b08e8e;
  color: white;
  margin: 10px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.boton a {
  text-decoration: none;
  color: white;
}

.boton:hover {
  background-color: #ad7373;
}

/* cabecera */

.cabecera {
  padding: 80px;
  background-color: #f9c9c9;
  background-image: url("../imagenes/cabecera.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.cabecera h1 {
  font-size: 36px;
  margin-bottom: 20px;
  /* color: #333; Texto gris oscuro */
}

.cabecera p {
  font-size: 18px;
  margin-bottom: 30px;
  /* color: #666; Texto gris claro */
}


/* Sección de productos */

.seccion-productos {
  padding-top: 15px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 80vw;
  background-color: #fff;
}

.producto {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 300px;
  text-align: center;
  background-color: #fff; /* Fondo blanco para el producto */
  border-radius: 10px; /* Bordes redondeados en el producto */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para mayor profundidad */
}

.producto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.producto h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #333; /* Texto gris oscuro */
}

.producto p {
  font-size: 14px;
  padding: 3px;
  margin: 0 auto;
  color: #666; /* Texto gris claro */
}

/* Sección sobre nosotros */

.seccion-sobre-nosotros {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fff; /* Fondo blanco para la sección */
}

/* Galería */
.gallery-item {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 700px;
}

.gallery-item img {
  width: 100%;
}



/* Footer */

footer {
  background-color: #f9c9c9; /* Color de fondo pastel */
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ddd; /* Borde superior gris claro */
  border-radius: 5px; /* Bordes redondeados en el footer */
}

/* Popup de contacto */

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Fondo blanco para el popup */
  padding: 20px;
  border: 1px solid #ddd; /* Borde gris claro */
  border-radius: 10px; /* Bordes redondeados en el popup */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para mayor profundidad */
  z-index: 100;
}

.popup-contenido {
  max-width: 500px;
  margin: 0 auto;
}

.popup-contenido h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; /* Texto gris oscuro */
}

.popup-contenido p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666; /* Texto gris claro */
}